.countries{
    display: grid;
  grid-template-columns: auto auto auto ;
  background-color: slategray;
  padding: 10px;
  color: white;
  border-radius: 15px;
}

.countries-list{
    width: 300px;
    margin: 15px;
    padding: 15px;
    border: 2px solid tomato;
}

.flags-container img{
    width: 50px;
    margin-left: 20px;
}